
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header__nav {
    padding: 40px 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    column-gap: 48px;
}

.header__txt {
    color: #426B1F;
    font-size: 32px;
    font-weight: 500;
}

.header__link {
    color: #000;
    line-height: 130%;
    transition: 500ms;
}

.header__link:hover {
    color: #fff;
    background: #426B1F;
    border-radius: 8px;
    font-weight: 600;
    padding: 14px 23px;
}

.produce {
    margin-top: 95px;
}

.produce__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 16px;
}

.produce__cal {
    display: flex;
    column-gap: 24px;
}

.produce__text {
    color: #000;
    font-size: 64px;
    letter-spacing: -1.28px;
    line-height: 120%;
}

.produce__txt {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #000;
}

.produce__list {
    display: flex;
    column-gap: 8px;
    padding-top: 40px;
}

.produce__link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    padding: 9px 16px;
    border-radius: 20px;
    border: 1px solid #c2c2c2;
}

.produce__link:hover {
    background: #426B1F;
    color: #fff;
    transition: 500ms;
}